.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c202a;
    background-image: url(/src/assets/loginBackground.png);
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    height: 100vh;
    letter-spacing: 0.03125rem;
    line-height: 1.5rem;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.main h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
}

#container {
    color: #fff;
    text-align: center;
    min-height: 525px;
    width: 320px;
    position: absolute;
}
.buttons {
    margin: 0;
    padding: 0;
}
.buttons li {
    list-style-type: none;
    margin-bottom: 1rem;
}
.buttons li:last-child {
    margin-bottom: 0;
}
.buttons a {
    border: solid 2px #fff;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 1rem;
    padding: calc(1rem - 2px);
    text-decoration: none;
    transition: all 0.2s ease;
    /* vertical-align: middle; */
}
.buttons a:hover {
    background: #737d9c;
    border-color: #737d9c;
}
.buttons input {
    color: black;
    margin: 0 auto;
	width: 100%;
	height: 45px;
	/* padding: 0 20px 10px; */
    /* padding-left: 10px; */
    text-align: center;
    margin-bottom: 15px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	border-radius: 14px;
	outline: none;
}
.buttons .primary {
    background-color: #e0280c;
    border-color: #e0280c;
    border: none;
    border-bottom: solid 4px #c0180c;
    color: #fff;
}
.buttons .primary:hover {
    background: #f0382c;
    border-color: #c0180c;
}
.buttons .primary:active {
    background: #c0180c;
}
.buttons .disabled {
    background: none;
    border: solid 2px #969696;
    color: #969696;
    pointer-events: none;
}

@media (max-width: 480px) {
    /* .main {
      padding: 20px;
    } */
  
    #container {
      width: auto;
      /* position: static; */
    }
  
    .buttons li {
      margin-bottom: 0.5rem;
    }
  
    .buttons a {
      font-size: 0.9rem;
      padding: 0.8rem;
    }
  
    .buttons input {
      height: 40px;
    }
  }